@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source "../node_modules/flowbite-svelte-icons/dist";

body {
    height: 100dvh;
    background: #deeeff;
}

:root {
    --gap: calc(var(--spacing) * 2);
    --header-height: 60px;
    --content-height: calc(100dvh - (var(--gap) * 3) - var(--header-height));
    --mobile-menu-height: calc(100svh - var(--header-height) - calc(var(--gap) * 3));
}